h1{
  color:#d1320f;
}

h2{
  color: blue;
}
p{
  color: blue;
}
   .topnav {
     background-color: #a80d02;
     overflow: hidden;
   }

   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 28px;
   }

   .topnav a:hover {
     background-color: #237805;
     color: black;
   }

   .topnav a.active {
     background-color: #4CAF50;
     color: #450d44;
     }