$color: White;

h1 {
  font-size: 14px;
  color: $color;
}

div {
  font-size: 18px;

  p {
    color: tomato;
  }

  li {
    color: peru;
  }
}
%message{
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid bold tomato;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
.trust {
  @extend %message;
  background-color: green;
}
